* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

$background-color: #1B1A17;
$main-color: #242320;
$accent-active-color: #FF8303;
$accent-color: #A35709;
$light-color: #F0E3CA;
$light-transparent-color: #F0E3CAA3;

$input-transition: 0.3s ease-out;

body {
    background: $background-color;
}

.hidden {
    display: none !important;
}

.add-menu {
    padding: 22px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 32px;

    .menu-inputs {
        display: flex;
        flex-direction: column;
        width: auto;
        flex: 1;
        gap: 6px;

        * {
            height: 32px;
            padding: 0;
            border: 0;
            box-sizing: border-box;
            font-size: 14px;
            padding: 7px 14px;
            background-color: $main-color;
            border: 1px solid $accent-active-color;
            border-radius: 4px;
            outline: none;
            color: $light-color;
        }

        #description-input {
            overflow: hidden;
            resize: none;
            transition: $input-transition;
        }

        #description-input:focus {
            height: 128px;
            transition: $input-transition;
        }
    }

    #menu-button {
        width: 70px;
        height: 70px;
        background-color: transparent;
        border-radius: 8px;
        border: 2px solid $accent-active-color;
        cursor: pointer;
    }
}

.tasks {
    padding: 0px 22px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .task-wrapper {
        background-color: $main-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        border: 2px solid $accent-color;
        border-radius: 8px;
        align-items: center;
        z-index: 15;
        cursor: pointer;
        color: $light-color;

        .task-texts {
            display: flex;
            flex-direction: column;
            color: $light-color;

            .task-title {
                font-size: 22px;
                font-weight: 500;
            }
        }

        .delete-task-button {
            width: 32px;
            height: 32px;
            border: 2px solid $accent-color;
            border-radius: 5px;
            background-color: $background-color;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 11px;
                height: 11px;
                transform: rotate(45deg);
            }
        }
    }

    .task-buttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-top: 0;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, max-height 0.3s ease, margin-top 0.3s ease;
        justify-content: flex-end;

        .task-button {
            cursor: pointer;
            color: $light-color;
            font-size: 16px;
            font-weight: 700;
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $main-color;
            border-radius: 6px;
            border: 1px solid $accent-color;
        }
    }

    &.expanded .task-buttons {
        opacity: 1;
        max-height: 50px;
        margin-top: 8px;
    }
}

.no-tasks-warning {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding-bottom: 32px;

    span {
        color: $light-color;
        font-size: 24px;
    }

    .warning-separator {
        width: 64px;
        height: 3px;
        background-color: $accent-active-color;
    }
}