* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

$background-color: #1b1a17;
$main-color: #242320;
$accent-active-color: #ff8303;
$accent-color: #a35709;
$light-color: #f0e3ca;
$light-transparent-color: #f0e3caa3;
$dark-background: #000000d6;
$share-button-background: #23221f;

$input-transition: 0.3s ease-out;
$dialogue-transition: 0.3s cubic-bezier(0.22, 0.6, 0.66, 0.95);

body {
  background: $background-color;
}

.hidden {
  display: none !important;
}

.add-menu {
  padding: 22px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 32px;

  .menu-inputs {
    display: flex;
    flex-direction: column;
    width: auto;
    flex: 1;
    gap: 6px;

    * {
      height: 32px;
      padding: 0;
      border: 0;
      box-sizing: border-box;
      font-size: 14px;
      padding: 7px 14px;
      background-color: $main-color;
      border: 1px solid $accent-color;
      border-radius: 4px;
      outline: none;
      color: $light-color;

      &:focus {
        border: 1px solid $accent-active-color;
      }
    }

    #description-input {
      overflow: hidden;
      resize: none;
      transition: $input-transition;
    }

    #description-input:focus {
      height: 128px;
      transition: $input-transition;
    }
  }

  #menu-button {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid $accent-active-color;
    cursor: pointer;
  }
}

.tasks {
  padding: 0px 22px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .task-wrapper {
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    border: 2px solid $accent-color;
    border-radius: 8px;
    align-items: center;
    z-index: 15;
    cursor: pointer;
    color: $light-color;

    .task-texts {
      display: flex;
      flex-direction: column;
      color: $light-color;
      max-width: 300px;

      .task-title {
        font-size: 22px;
        font-weight: 500;
      }

      .task-description {
        font-size: 14px;
        max-height: 33px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        line-height: 16px;
        height: 33px;
        white-space: pre-wrap;
      }
    }

    .delete-task-button {
      width: 32px;
      height: 32px;
      border: 2px solid $accent-color;
      border-radius: 5px;
      background-color: $background-color;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: 11px;
        height: 11px;
        transform: rotate(45deg);
      }
    }
  }

  .task-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease, margin-top 0.3s ease;
    justify-content: flex-end;

    .task-button {
      cursor: pointer;
      color: $light-color;
      font-size: 16px;
      font-weight: 700;
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-color;
      border-radius: 6px;
      border: 1px solid $accent-color;
    }
  }

  &.expanded .task-buttons {
    opacity: 1;
    max-height: 50px;
    margin-top: 8px;
  }
}

.no-tasks-warning {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding-bottom: 32px;

  span {
    color: $light-color;
    font-size: 24px;
  }

  .warning-separator {
    width: 64px;
    height: 3px;
    background-color: $accent-active-color;
  }
}

.share-screen {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $dark-background;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: $dialogue-transition;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  #share-menu {
    height: 76px;
    width: 90%;
    background: $background-color;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .share-buttons {
      padding: 14px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .share-button {
        width: 48px;
        height: 48px;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $share-button-background;
        cursor: pointer;
      }
    }
  }
}

.delete-screen {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $dark-background;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: $dialogue-transition;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #delete-wrapper {
    width: 280px;
    height: 140px;
    background-color: $main-color;

    .delete-header-line {
      height: 4px;
      width: 100%;
      background: $accent-color;
    }

    .delete-menu {
      color: $light-color;
      font-size: 18px;
      gap: 30px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .delete-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .delete-button {
          width: 64px;
          height: 24px;
          background-color: $main-color;
          border: 1px solid $accent-color;
          color: $light-color;
          border-radius: 4px;
          font-size: 10px;
          cursor: pointer;
        }

        .primary-button {
          border: 1px solid $accent-active-color;
        }
      }
    }
  }
}

.edit-screen {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $dark-background;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: $dialogue-transition;
  flex-direction: row;
  justify-content: center;

  #edit-wrapper {
    width: 90%;
    height: 50%;
    background-color: $main-color;
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    bottom: 0;
    display: flex;

    .edit-menu {
      padding: 18px;
      color: $light-color;
      font-size: 18px;
      gap: 8px;
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: column;

      .edit-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        outline: none;
        font-size: 14px;

        .edit-input {
          color: $light-color;
          border: 1px solid $accent-color;
          background: $share-button-background;
          border-radius: 4px;
          height: 32px;
          padding: 0px 9px;

          &:focus {
            outline: none;
            border: 1px solid $accent-active-color;
          }
        }

        #edit-description {
          color: $light-color;
          height: 100%;
          padding: 7px 9px;

          &:focus {
            outline: none;
          }
        }
      }

      .edit-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .edit-button {
          width: 64px;
          height: 24px;
          background-color: $main-color;
          border: 1px solid $accent-color;
          color: $light-color;
          border-radius: 4px;
          font-size: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

.info-screen {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $dark-background;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: $dialogue-transition;
  flex-direction: row;
  justify-content: center;

  #info-wrapper {
    width: 90%;
    height: 50%;
    background-color: $main-color;
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    bottom: 0;
    display: flex;

    .info-menu {
      padding: 18px;
      color: $light-color;
      font-size: 18px;
      gap: 8px;
      display: flex;
      flex: 1;
      align-items: flex-start;
      flex-direction: column;

      .info-header {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
      }

      .info-texts {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        outline: none;
        font-size: 22px;

        .info-title {
          color: $light-color;
          background: $share-button-background;
          border-radius: 4px;
          padding: 0px 9px;
          font-weight: 600;
        }

        #info-description {
            font-size: 16px;
          color: $light-color;
          height: 100%;
          padding: 7px 9px;
        }
      }

      .edit-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .edit-button {
          width: 64px;
          height: 24px;
          background-color: $main-color;
          border: 1px solid $accent-color;
          color: $light-color;
          border-radius: 4px;
          font-size: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

.active-screen {
  visibility: visible;
  opacity: 1;
  transition: $dialogue-transition;
}
